.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
.email-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.email-input {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}

.message-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.message-textarea {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-bottom: 16px;
  resize: none;
}

.btn-submit {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

@media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }